{% extends 'landing/template.html' %}
{% load static %}


{% block contenidoQueCambia %}
  <header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                      <article style="border-style:double;border-radius: 1px;border-color: black; background-color: cornflowerblue;">
                        <h4 style="text-align: left;">Hey...</h4>
                        <p style="text-align: left;">Esta es mi primer webapp usando django.</p>
                        <p>El proyecto tiene como objetivo mantener un registro de los movimientos de inversiones.
                        Puntualmente, nos centraremos en el registro de las compras y ventas para darle seguimiento al portfolio de activos.
                        Claro que es mas facil usando excel... pero bue... adivina que... el curso es de Python!!</p>
                      </article>
                </div>
            </div>
        </div>
    </div>
  </header>
{% endblock %}